.modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--color-blur);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal-form {
  width: min(800px, 90vw);
  max-height: 90vh;
  overflow-y: auto;
  background: var(--color-back);
  color: var(--color-text);
  border-radius: 14px;
  box-shadow: 0 10px 40px var(--color-shadow);
  animation: modalAppear 0.25s ease;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(15px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 24px;
}

.modal-close {
  background: none;
  border: none;

  font-size: 24px;
  cursor: pointer;

  color: var(--color-text);
}

form {
  padding: 24px;
}

.form-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;

  font-size: 0.9rem;
  font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px 12px;

  border: 1px solid var(--color-shadow);

  border-radius: 8px;

  background: var(--color-light);

  color: var(--color-back);

  font-size: 0.95rem;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;

  border-color: var(--color-primary);
}

.form-buttons {
  margin-top: 30px;

  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.2s;
}

.btn-primary {
  background: var(--color-title);
  color: white;
}

.btn-primary:hover {
  background: var(--color-surface);
}

.btn-secondary {
  background: var(--color-back);
  color: var(--color-text);
}

.btn-secondary:hover {
  background: var(--color-surface);
}

.detalle-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fff;
}

.detalle-content {
  display: flex;
  gap: 10px;
  flex: 1;
  flex-wrap: wrap;
}

.detalle-field {
  min-width: 120px;
  flex: 1;
}

.detalle-delete {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}