.tabla-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.tabla-search {
  flex-shrink: 0;
  display: flex;
  justify-content: lef;
  align-items: center;
  gap: 5px;
}

.tabla-search input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
}


.tabla-search-icon {
  opacity: .6;
}

.tabla-scroll {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;

  border-radius: 8px;
  border: 1px solid rgba(255,255,255,.08);
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-text);
  color: var(--color-back);
}

.tabla thead th {
  position: sticky;
  top: 0;
  z-index: 10;

  background: var(--color-light);
}

.tabla th,
.tabla td {
  padding: 10px 12px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
}

.tabla tbody tr:hover {
  background: var(--color-light);
}