:root {
  --color-back: #1e032b;
  --color-surface: #652c81;
  --color-button: #1e032b;
  --color-text: #fefefe;
  --color-title: #e7841e;
  --color-border: #b2614b;
  --color-shadow: rgba(14, 24, 40, 0.845);
  --color-light: #edd5ce;
}
